body[data-page="internship"] .grid-3,
body[data-page="verify"] .grid-3 {
    grid-template-columns: repeat(3, 1fr) !important;
}

@media (max-width: 992px) {

    body[data-page="internship"] .grid-3,
    body[data-page="verify"] .grid-3 {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 600px) {

    body[data-page="internship"] .grid-3,
    body[data-page="verify"] .grid-3 {
        grid-template-columns: 1fr !important;
    }
}